div.left {
    text-align: center;
    }
    #ctr{
        text-align: center;
    }
    div.ctre{
        text-align: center;
    }
    #info{
        text-align: center;
    }
    div.ct{
        text-align: center;
    }
    #inf{
        text-align: center;
    }
    #Red{
        color: red;
    }
    #Gre{
        color: green;
    }
    #Titre{
        text-align: center;
    }
    #v{
        text-align: center;
    }
    #h{
        border: 8px black solid ;
    }